* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif; 
}

:root {
    font-size: calc(1em - 6px);   
    overflow: hidden;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;   
}

.body {
  background-color: #EEEEEE;
}

.Bitard-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backface-visibility: hidden;
    position: relative;
    padding-top: 5%;
    perspective: 600px;
    background-color: #EEEEEE;
}

.Bitard {
    width: 50%;
    height: 50%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-45deg);
}

.head {
    width: 10em;
    height: 10em;
    top: 3em;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg); 
}

.head > div {
    width: 100%;
    height: 100%;
    background-color: #dcf02d;
    border: 2px solid #000;
    position: absolute;
    margin: auto;
}

.face {
    transform: translateZ(5em);
    position: relative;
}

.head > .back {
    transform: rotateY(180deg) translateZ(5em);
}

.head > .right {
    transform: rotateY(90deg) translateZ(5em);
}

.head > .left {
    transform: rotateY(-90deg) translateZ(5em);
}

.head > .top {
    transform: rotateX(90deg) translateZ(5.01em);
}

.eyes {
    width: 2em; 
    height: 2em;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0; 
    margin: auto;
}

.left.eyes {
    left: -4em;
}

.right.eyes {
    left: 4em;
}

.mouth {
    width: 1em;
    border: 1em solid transparent;
    border-bottom: 2em solid #000;
    position: absolute;
    bottom: 1.6em;
    left: 0;
    right: 0;
    margin: auto;
}

.neck {
    display: flex;
    align-items: flex-end;
    width: 4em;
    height: 6.5em;
    margin: auto;
    position: relative; 
    transform-style: preserve-3d;
    transform: translateZ(-1.8em);
}

.neck > div {
    width: 100%;
    height: 100%;
    background-color: #535cdf;
    border: 2px solid #000;
    border-bottom: none;
    position: absolute;
    margin: auto;
}

.neck > .before {
    transform: translateZ(2em);
}

.neck > .back {
    transform: rotateY(180deg) translateZ(2em);
}

.neck > .right {
    transform: rotateY(90deg) translateZ(2em);
}

.neck > .left {
    transform: rotateY(-90deg) translateZ(2em);
}

.torso {
    width: 10em;
    height: 12em;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-1.8em);
}

.torso > div {
    width: 100%;
    height: 100%;
    background-color: #535cdf;
    border: 2px solid #000;
    position: absolute;
    margin: auto;
}

.torso > .left-before {
    border-right: none;
    width: 3.2em;
    transform: translateZ(2em);
}

.torso > .before {
    border: none;
    border-bottom: 2px solid #000;
    width: 4em;
    transform: translateZ(2em) translateX(3em);
}

.torso > .right-before {
    border-left: none;
    width: 3.2em;
    transform: translateZ(2em) translateX(6.8em);
}

.torso > .left-back {
    border-right: none;
    width: 3.2em;
    transform: rotateY(180deg) translateZ(2em) translateX(-6.8em);
}

.torso > .back {
    border: none;
    width: 4em;
    border-bottom: 2px solid #000;
    transform: rotateY(180deg) translateZ(2em) translateX(-3em);
}

.torso > .right-back {
    border-left: none;
    width: 3.2em;
    transform: rotateY(180deg) translateZ(2em);
}

.torso > .right {
    width: 4em;
    transform: rotateY(90deg) translateZ(8em);
}

.torso > .left {
    width: 4em;
    transform: rotateY(-90deg) translateZ(2em);
}

.torso > .top {
    border: none;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    width: 10em;
    height: 4em;
    transform: rotateX(90deg) translateZ(2em);
}

.torso > .bottom {
    width: 10em;
    height: 4em;
    transform: rotateX(-90deg) translateZ(10em);
}

.hand {
    width: 3em;
    height: 15em;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-1.8em);
}
.hand > div {
    width: 3em;
    height: 6em;
    position: relative;
    transform-style: preserve-3d;
}

.hand > div > div {
    width: 100%;
    height: 100%;
    background-color: #535cdf;
    border: 2px solid #000;
    position: absolute;
    margin: auto;
}

.right.hand {
    transform: translateX(6.5em) translateY(-27em) translateZ(-1.8em);
}

.left.hand {
    transform: translateX(-6.5em) translateY(-12em) translateZ(-1.8em);
}

.shoulder > .before, .forearm > .before{
    transform: translateZ(1.5em);
}

.shoulder > .back, .forearm > .back {
    transform: rotateY(180deg) translateZ(1.5em);
}

.shoulder > .right, .forearm > .right {
    transform: rotateY(90deg) translateZ(1.5em);
}

.shoulder > .left, .forearm > .left {
    transform: rotateY(-90deg) translateZ(1.5em);
}

.shoulder > .top, .forearm > .top {
    width: 3em;
    height: 3em;
    transform: rotateX(90deg) translateZ(1.5em);
}

.shoulder > .bottom, .forearm > .bottom {
    width: 3em;
    height: 3em;
    transform: rotateX(-90deg) translateZ(4.5em);
}

.wrist {
    transform: rotateY(90deg);
}

.wrist > div {
    height: 3em !important;
    background-color: #f4ff94 !important; 
}

.wrist > .before {
    transform: translateZ(0.75em);
}

.wrist > .back {
    transform: rotateY(180deg) translateZ(0.75em);
}

.wrist > .right {
    width: 1.5em;
    transform: rotateY(90deg) translateZ(2.2em);
}

.wrist > .left {
    width: 1.5em;
    transform: rotateY(-90deg) translateZ(.8em);
}

.wrist > .top {
    height: 1.5em !important;
    transform: rotateX(90deg) translateZ(.8em);
}

.wrist > .bottom {
    height: 1.5em !important;
    transform: rotateX(-90deg) translateZ(2.2em);
}

.ass {
    width: 10em;
    height: 3em;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-1.8em) translateY(-30em);
}

.ass > div {
    width: 100%;
    height: 100%;
    background-color: #9c3c2b;
    border: 2px solid #000;
    position: absolute;
    margin: auto;
}

.ass > .before {
    transform: translateZ(1.5em);
}

.ass > .back {
    transform: rotateY(180deg) translateZ(1.5em);
}

.ass > .right {
    width: 3em;
    transform: rotateY(90deg) translateZ(8.5em);
}

.ass > .left {
    width: 3em;
    transform: rotateY(-90deg) translateZ(1.5em);
}

.ass > .top {
    transform: rotateX(90deg) translateZ(1.5em);
}

.ass > .bottom {
    transform: rotateX(-90deg) translateZ(1.5em);
}

.leg {
    width: 3em;
    height: 17em;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-1.8em) translateY(-30em);
}
.leg > div {
    width: 3em;
    height: 7em;
    position: relative;
    transform-style: preserve-3d;
}

.leg > div > div {
    width: 100%;
    height: 100%;
    background-color: #9c3c2b;
    border: 2px solid #000;
    position: absolute;
    margin: auto;
}

.right.leg {
    transform: translateX(2.8em) translateZ(-1.8em) translateY(-47em);
}

.left.leg {
    transform: translateX(-2.8em) translateZ(-1.8em) translateY(-30em);
}

.femur > .before, .calf > .before{
    transform: translateZ(1.5em);
}

.femur > .back, .calf > .back {
    transform: rotateY(180deg) translateZ(1.5em);
}

.femur > .right, .calf > .right {
    transform: rotateY(90deg) translateZ(1.5em);
}

.femur > .left, .calf > .left {
    transform: rotateY(-90deg) translateZ(1.5em);
}

.femur > .top, .calf > .top {
    height: 3em;
    transform: rotateX(90deg) translateZ(1.5em);
}

.femur > .bottom, .calf > .bottom {
    height: 3em;
    transform: rotateX(-90deg) translateZ(5.5em);
}

.foot {
    height: 2em !important;
    transform: translateZ(1em);
}

.foot > div {
    background-color: #727272 !important;
}

.foot > .before {
    transform: translateZ(2.5em);
}

.foot > .back {
    transform: rotateY(180deg) translateZ(2.5em);
}

.foot > .right {
    width: 5em;
    transform: rotateY(90deg) translateZ(.5em);
}

.foot > .left {
    width: 5em;
    transform: rotateY(-90deg) translateZ(2.5em);
}

.foot > .top {
    height: 5em;
    transform: rotateX(90deg) translateZ(2.5em);
}

.foot > .bottom {
    background-color: #272727 !important;
    height: 5em;
    transform: rotateX(-90deg) translateZ(-.5em);
}

a {
    color: #d3e43d;
    display: block;
    text-decoration: none; 
    font-size: 2em;
    margin: .8em 0 0 .1em;
}

a:hover { 
    color: #ff8181;
}

.control {
    color: #554688;
    font-size: 2em;
    margin-top: 12em;
    cursor: default;           
}