* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif; 
}

:root {
    font-size: calc(1em - 6px); 
}

.Bitard-box {
    /* display: flex;  */
    width: 100vw;
    height: 100vh;
    /* border: 1em solid #000; */
    /* justify-content: center;  */
    /* align-items: center; */
    transform: perspective(10em);
    backface-visibility: hidden;
    position: relative;
}

.Bitard {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
}

.head {
    width: 10em;
    height: 10em;
    top: 3em;
    left: 0;
    right: 0; 
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg); 
}

.head > div {
    width: 100%;
    height: 100%;
    background-color: #dcf02d;
    border: 2px solid #000;
    position: absolute;
    margin: auto;
}

.face {
    transform: translateZ(5em);
    position: relative;
}

.head > .back {
    transform: rotateY(180deg) translateZ(5em);
}

.head > .right {
    transform: rotateY(90deg) translateZ(5em);
}

.head > .left {
    transform: rotateY(-90deg) translateZ(5em);
}

.head > .top {
    transform: rotateX(90deg) translateZ(5.01em);
}

/* .head > .bottom {
    transform: rotateX(-90deg) translateZ(5em);
    background-color: #6d6d6d;
} */

.eyes {
    width: 2em; 
    height: 2em;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0; 
    margin: auto;
}

.left.eyes {
    left: -4em;
}

.right.eyes {
    left: 4em;
}

.mouth {
    width: 1em;
    border: 1em solid transparent;
    border-bottom: 2em solid #000;
    position: absolute;
    bottom: 1.6em;
    left: 0;
    right: 0;
    margin: auto;
}

.neck {
    display: flex;
    align-items: flex-end;
    width: 4em;
    height: 6.5em;
    top: 0;
    left: 0;
    right: 0; 
    margin: auto;
    position: relative; 
    transform-style: preserve-3d;
    transform: translateZ(-1.8em);
}

.neck > div {
    width: 100%;
    height: 100%;
    background-color: rgb(83, 92, 223);
    border: 2px solid #000;
    position: absolute;
    margin: auto;
}

.neck > .before {
    transform: translateZ(2em);
}

.neck > .back {
    transform: rotateY(180deg) translateZ(2em);
}

.neck > .right {
    transform: rotateY(90deg) translateZ(2em);
}

.neck > .left {
    transform: rotateY(-90deg) translateZ(2em);
}